.sort-btn {
    background-color: #ff8c00;
    color: white;
    border: none;
}

.sort-btn:hover {
    background-color: #f14810e4;
    cursor: pointer;
}

.btn-xs {
    padding: 2px 4px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.table td[data-price] {
    text-align: right;
}

.table-striped tbody tr:nth-child(odd)>th,
.table-striped tbody tr:nth-child(odd)>td {
    color: #f14810e4;
}

.table-striped tbody tr:nth-child(even) {
    color: #ff8c00;
}

.table thead th {
    border-bottom: 2px solid rgb(239, 126, 70);
}
