.navbar .nav-item .nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    background-image: linear-gradient(to right, #f06, #f80);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 18px;
    vertical-align: middle;
    position: relative;
    background-image: none;
}

.toggler-line {
    display: block;
    height: 2px;
    background: linear-gradient(to right, #f06 0%, #f80 100%);
    margin: 4px 0;
    margin-top: 0px;
}

/* gradient text */
.gradient-text {
    background-image: linear-gradient(to right, #f06, #f80);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* carousel text */
.carousel-caption {
    text-shadow: 2px 2px 4px #000000;
}

.carousel-caption h5 {
    font-size: 3rem;
}

.carousel-caption p {
    font-size: 1.5rem;
}

.custom-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Despre noi index */
/* Despre Noi */
#despre-noi {
    font-family: 'Roboto', sans-serif;
}

#despre-noi p,
#servicii p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #5B2344;
}

#despre-noi .btn-primary,
#servicii .btn-primary,
#galerie .btn-primary {
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 24px;
    transition: background-image 0.3s ease, transform 0.3s ease;
    background-image: linear-gradient(45deg, #882E4F, #5B2344);
}

#despre-noi .btn-primary:hover,
#servicii .btn-primary:hover,
#galerie .btn-primary:hover {
    background-image: linear-gradient(45deg, #5B2344, #882E4F);
    transform: translateY(-3px);
}

#despre-noi .btn-primary:active,
#servicii .btn-primary:active,
#galerie .btn-primary:active {
    transform: translateY(1px);
}

/* centrare buton despre-noi */
.despre-noi-content {
    display: flex;

    /* Adaugă display flex */
    flex-direction: column;

    /* Oricare copil al acestei clase va fi organizat pe coloana */
    align-items: center;

    /* Centreaza elementele copil pe orizontala */
}

/* ****************** Servicii ***************************** */
/* FONTAWESOME */
.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#servicii .icon-large {
    /* font-size: 48px; */
    font-size: 3rem;
    color: #fbb034;
}

.service-title {
    /* background-image: linear-gradient(to left, #56ab2f, #a8e063);
    background-image: linear-gradient(to left, #ff5e62, #ff9966, #00f260, #0575e6, #021b79); */
    /* background-image: linear-gradient(to left, #ff5e62, #ff9966, #ffceab); */
    background-image: linear-gradient(to right, #fbb034, #FFDD00);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* *************  GALERIE ****************** */
#galerie {
    padding: 0px 0;
}

.galerie .produs {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #f7f7f7;

    /* culoare deschisă pentru fundalul produsului */
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.galerie .produs:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.galerie .produs img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* ******* pt FOOTER ********************************* */
footer {
    background-color: #5c1936;
}

#footerArmine .text-footer {
    color: #c57693;

    /* #aa978a; */
    /* #F8E1D1; */
    font-size: 1rem;
    line-height: 1.1;
    transition: all 0.3s;
}

#footerArmine .text-footer:hover {
    color: #f34207;

    /* #FFE3C3; */
    text-decoration: none;
}

#footerArmine .text-footer-small {
    color: #F8E1D1;
    font-size: 0.875rem;
}

#footerArmine .gradient-text {
    /* background-image: linear-gradient(to right, #882E4F, #d61b2b, #882E4F);
  /* #882E4F, #E74856, #882E4F); */
    -webkit-background-clip: text;
    font-weight: bold;
    height: 3rem;
    color: #f96363;

    /* transparent; */
    background-clip: text;

    /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); */
}

.fa-facebook-f,
.fa-instagram,
.fa-twitter {
    color: #882E4F;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.fa-facebook-f:hover,
.fa-instagram:hover,
.fa-twitter:hover {
    color: #E74856;
}

.list-inline-item {
    padding: 0 10px;

    /* pentru icoanele de fb twitter etc */
}

/* .img-fluid {
    width: 100%;
    height: auto;
} */
.gradient-text2 {
    font-weight: bold;
    background-image: linear-gradient(to right,  #fbb034, #fa2509);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.titlu-sectiune {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    color: #882E4F;
}
